name: Add contributors
on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  add-contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: BobAnkh/add-contributors@master
        with:
          CONTRIBUTOR: "### Contributors"
          COLUMN_PER_ROW: "6"
          ACCESS_TOKEN: ${{secrets.GITHUB_TOKEN}}
          IMG_WIDTH: "100"
          FONT_SIZE: "14"
          PATH: "/README.md"
          AVATAR_SHAPE: "round"
